@model Post_Office_Management.Models.ServiceType

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Dashboard/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card px-3 py-2">
                <div class="card-header">
                    <h4>ServiceType</h4>
                </div>
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <form asp-action="Edit" method="post">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group row">
                            <label asp-for="Name" class="col-md-4 col-form-label">Service Type Name</label>
                            <div class="col-md-8">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <label asp-for="BaseCharge" class="col-md-4 col-form-label">Base Charge</label>
                            <div class="col-md-8">
                                <input asp-for="BaseCharge" class="form-control" />
                                <span asp-validation-for="BaseCharge" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <label asp-for="IsVPP" class="col-md-4 col-form-label">Is VPP</label>
                            <div class="col-md-8">
                                <input class="form-check-input" asp-for="IsVPP" />
                                <span asp-validation-for="IsVPP" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row offset-4">
                            <div class="col-md-6 d-grid">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                            <div class="col-md-6 d-grid">
                                <a asp-action="List" class="btn btn-secondary">Back to List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
