@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="/" class="logo d-flex align-items-center w-auto">
                            <img src="~/assets/img/logo.png" alt="">
                            <span class="d-none d-lg-block">TARS</span>
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Create an account</h5>
                            </div>

                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                            <form class="row g-3 needs-validation" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" novalidate>

                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">Email</label>
                                    <div class="input-group has-validation">
                                        <input type="email" asp-for="Input.Email" class="form-control"                     id="yourUsername" required>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">Number</label>
                                    <div class="input-group has-validation">
                                        <input type="tel" asp-for="Input.PhoneNumber" class="form-control                      id="yourUsername" required>
                                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">Password</label>
                                    <div class="input-group has-validation">
                                        <input type="password" asp-for="Input.Password" class="form-control id="yourUsername" required>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">Confirm Password</label>
                                    <div class="input-group has-validation">
                                        <input type="password" asp-for="Input.ConfirmPassword" class="form-control id="yourUsername" required>
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100" id="login-submit" type="submit">Continue</button>
                                </div>

                                <div class="col-12">
                                    <p class="small mb-0">Already have account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Sign In</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}